# Node modules
node_modules/
jspm_packages/

# Build output
dist/
out-tsc/
tmp/
temp/

# Angular build artifacts
.angular/
coverage/
*.log

# Environment files (if you don't want them in Git)
src/environments/*.ts
!src/environments/environment.example.ts

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Optional npm cache
.npm/

# Optional REPL history
.node_repl_history

# Compiled output
*.js
*.js.map
*.d.ts

# Dependency directories
bower_components/

# Misc
.sass-cache/
*.tgz
.yarn-integrity
package-lock.json
yarn.lock
